# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.kicad_sch-bak
*-backups
*.kicad_prl
*.sch-bak
*~
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
~*.lck
\#auto_saved_files#

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

*/build
.DS_*

# Build Files
build/
Build/

# Python
*venv
__pycache__/
.env

# Mac specific files
.DS_Store

# Vim
*.swp

# Nix
flake.lock

# Documentation toolset
docs/doxygen/
site/*
!site/empty.a
Zone.Identifier

# VSCode settings
.vscode/*
!.vscode/c_cpp_properties.json
compile_commands.json
